/* Delays */
._delay1ms{
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
  }
  ._delay2ms{
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
  }
  ._delay3ms{
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
  }
  ._delay4ms{
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
  }
  ._delay5ms{
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
  }
  ._delay6ms{
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
  }
  ._delay7ms{
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
  }
  ._delay8ms{
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
  }
  ._delay9ms{
    -webkit-animation-duration: .9s;
    animation-duration: .9s; 
  }
  ._delay10ms{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
  ._delay11ms{
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
  }
  ._delay12ms{
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
  }
  ._delay13ms{
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
  }
  ._delay14ms{
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
  }
  ._delay15ms{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  ._delay16ms{
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s; 
  }
  ._delay17ms{
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
  }
  ._delay18ms{
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
  }
  ._delay19ms{
    -webkit-animation-duration: 1.9s;
    animation-duration: 1.9s;
  }
  ._delay20ms{
    -webkit-animation-duration: 2s;
    animation-duration: 2s; 
  }
  ._delay21ms{
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
  }
  ._delay22ms{
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
  }
  ._delay23ms{
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
  }
  ._delay24ms{
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
  }
  ._delay25ms{
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
  }
  ._delay26ms{
    -webkit-animation-duration: 2.6s;
    animation-duration: 2.6s;
  }
  ._delay27ms{
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
  }
  ._delay28ms{
    -webkit-animation-duration: 2.8s;
    animation-duration: 2.8s;
  }
  ._delay29ms{
    -webkit-animation-duration: 2.9s;
    animation-duration: 2.9s; 
  }
  ._delay30ms{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
  ._delay31ms{
    -webkit-animation-duration: 3.1s;
    animation-duration: 3.1s;
  }
  ._delay32ms{
    -webkit-animation-duration: 3.2s;
    animation-duration: 3.2s;
  }
  ._delay33ms{
    -webkit-animation-duration: 3.3s;
    animation-duration: 3.3s;
  }
  ._delay34ms{
    -webkit-animation-duration: 3.4s;
    animation-duration: 3.4s;
  }
  ._delay35ms{
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
  }
  ._delay36ms{
    -webkit-animation-duration: 3.6s;
    animation-duration: 3.6s; 
  }
  ._delay37ms{
    -webkit-animation-duration: 3.7s;
    animation-duration: 3.7s;
  }
  ._delay38ms{
    -webkit-animation-duration: 3.8s;
    animation-duration: 3.8s;
  }
  ._delay39ms{
    -webkit-animation-duration: 3.9s;
    animation-duration: 3.9s;
  }
  ._delay40ms{
    -webkit-animation-duration: 4s;
    animation-duration: 4s; 
  }
  ._delay41ms{
    -webkit-animation-duration: 4.1s;
    animation-duration: 4.1s;
  }
  ._delay42ms{
    -webkit-animation-duration: 4.2s;
    animation-duration: 4.2s;
  }
  ._delay43ms{
    -webkit-animation-duration: 4.3s;
    animation-duration: 4.3s;
  }
  ._delay44ms{
    -webkit-animation-duration: 4.4s;
    animation-duration: 4.4s;
  }
  ._delay45ms{
    -webkit-animation-duration: 4.5s;
    animation-duration: 4.5s;
  }
  ._delay46ms{
    -webkit-animation-duration: 4.6s;
    animation-duration: 4.6s;
  }
  ._delay47ms{
    -webkit-animation-duration: 4.7s;
    animation-duration: 4.7s;
  }
  ._delay48ms{
    -webkit-animation-duration: 4.8s;
    animation-duration: 4.8s;
  }
  ._delay49ms{
    -webkit-animation-duration: 4.9s;
    animation-duration: 4.9s; 
  }
  ._delay50ms{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }
  ._delay51ms{
    -webkit-animation-duration: 5.1s;
    animation-duration: 5.1s;
  }
  ._delay52ms{
    -webkit-animation-duration: 5.2s;
    animation-duration: 5.2s;
  }
  ._delay53ms{
    -webkit-animation-duration: 5.3s;
    animation-duration: 5.3s;
  }
  ._delay54ms{
    -webkit-animation-duration: 5.4s;
    animation-duration: 5.4s;
  }
  ._delay55ms{
    -webkit-animation-duration: 5.5s;
    animation-duration: 5.5s;
  }
  ._delay56ms{
    -webkit-animation-duration: 5.6s;
    animation-duration: 5.6s; 
  }
  ._delay57ms{
    -webkit-animation-duration: 5.7s;
    animation-duration: 5.7s;
  }
  ._delay58ms{
    -webkit-animation-duration: 5.8s;
    animation-duration: 5.8s;
  }
  ._delay59ms{
    -webkit-animation-duration: 5.9s;
    animation-duration: 5.9s;
  }
  ._delay60ms{
    -webkit-animation-duration: 6s;
    animation-duration: 6s; 
  }
  