main {
    height: 100vh;
    display: grid;
    grid-template-columns: 58px auto;
    background-color: #fff;
    overflow: hidden;

    section.dynamic-section {
        position: relative;
        background-image: url('../../../assets/images/bg.png');
        display: grid;
        grid-template-rows: auto 40px;

        section.details {
            height: calc(100vh - 2px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            background-color: #fff;    
            z-index: 1;      
        }
    }
}